$white: #F5F5F5;
$green: #41D395;
$black: #1C1C1C;
$red: #E27866;
$blue: #6696E2;
body {
    font-family: 'Montserrat', sans-serif;
}

// Header and menu
.header {
    background-color: $black;
    height: 72px;
    width: 100%;
    display: inline-flex;
    position: fixed;
    padding-left: 10%;
}

.meniuLogo image {
    height: 52px;
    width: 102px;
    margin-left: 20%;
    margin-top: 10px;
}

.meniu {
    display: inline-flex;
    float: right;
    font-size: 14px;
    padding: 26px;
    position: absolute;
    right: 10%;
}

.meniu div a {
    color: $white;
    text-decoration: none;
    list-style-type: none;
    text-align: right;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 44px;
    font-size: 18px;
}

// Features Block
#features-img {
    background-image: url("images/photo1.jpg");
    background-size: cover;
    width: 100%;
    height: 600px;
}

.features {
    display: inline-block;
    width: 100%;
    height: 600px;
}

.features1 {
    width: 40%;
    height: 80%;
    margin-left: 10%;
    color: $white;
    justify-content: space-between;
}

.featuresLogo {
    width: 40%;
    height: 110px;
    margin-left: 10%;
    margin-top: 110px;
}

.featuresText1 {
    width: 40%;
    height: auto;
    margin-left: 10%;
    font-size: 24px;
    color: $white;
}

.featuresText2 {
    width: 10%;
    height: 5px;
    margin-left: 10%;
    color: $white;
}

.featuresText3 {
    width: 40%;
    height: auto;
    margin-left: 10%;
    color: $white;
}

.featuresDownload {
    width: 145px;
    height: 42px;
    font-size: 14px;
    margin-left: 10%;
    border: 2px solid $white;
    color: $white;
    text-decoration: none;
    list-style-type: none;
}

.featuresDownload a {
    margin: auto;
}

.form1 {
    width: 40%;
    height: auto;
    margin-right: 20%;
    margin-left: 5%;
}

.media1 {
    width: 100%;
    height: 100px;
    background-color: $white;
    color: $black;
    justify-content: space-between;
}

.media1 h2 {
    color: $black;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16px;
}

.media1 p {
    color: $black;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 12px;
}

.mediaIcons {
    // display: inline;
    align-items: flex-end;
    height: 30px;
    float: right;
}

#about-img {
    background-image: url("images/photo2.jpg");
    background-size: cover;
    width: 100%;
    height: 600px;
}

.mainAbout {
    width: 100%;
    height: 600px;
}

// SWIPER CSS
.swiper-container {
    width: 600px;
    height: 300px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    // background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.about2 {
    width: 100%;
    height: 600px;
    background-color: $black;
}

.about2Logo {
    width: 40%;
    height: auto;
}

.about2Logo image {
    width: 100%;
    height: 100%;
}

.about2Text {
    width: 40%;
    height: auto;
    margin-right: 10%;
}