body {
  font-family: 'Montserrat', sans-serif; }

.header {
  background-color: #1C1C1C;
  height: 72px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: fixed; }

.meniuLogo image {
  height: 52px;
  width: 102px;
  margin-left: 20%;
  margin-top: 10px; }

.meniu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
  font-size: 18px;
  padding: 20px; }

.meniu div a {
  color: #F5F5F5;
  text-decoration: none;
  list-style-type: none;
  text-align: right;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 44px;
  font-size: 18px; }

#features {
  background-size: cover;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute; }

main div image {
  height: 600px;
  width: 100%; }

.featuresLogo {
  height: 108px;
  width: 245px; }
