body {
  font-family: 'Montserrat', sans-serif; }

.header {
  background-color: #1C1C1C;
  height: 72px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: fixed;
  padding-left: 10%; }

.meniuLogo image {
  height: 52px;
  width: 102px;
  margin-left: 20%;
  margin-top: 10px; }

.meniu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
  font-size: 14px;
  padding: 26px;
  position: absolute;
  right: 10%; }

.meniu div a {
  color: #F5F5F5;
  text-decoration: none;
  list-style-type: none;
  text-align: right;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 44px;
  font-size: 18px; }

#features-img {
  background-image: url("images/photo1.jpg");
  background-size: cover;
  width: 100%;
  height: 600px; }

.features {
  display: inline-block;
  width: 100%;
  height: 600px; }

.features1 {
  width: 40%;
  height: 80%;
  margin-left: 10%;
  color: #F5F5F5;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.featuresLogo {
  width: 40%;
  height: 110px;
  margin-left: 10%;
  margin-top: 110px; }

.featuresText1 {
  width: 40%;
  height: auto;
  margin-left: 10%;
  font-size: 24px;
  color: #F5F5F5; }

.featuresText2 {
  width: 10%;
  height: 5px;
  margin-left: 10%;
  color: #F5F5F5; }

.featuresText3 {
  width: 40%;
  height: auto;
  margin-left: 10%;
  color: #F5F5F5; }

.featuresDownload {
  width: 145px;
  height: 42px;
  font-size: 14px;
  margin-left: 10%;
  border: 2px solid #F5F5F5;
  color: #F5F5F5;
  text-decoration: none;
  list-style-type: none; }

.form {
  width: 40%;
  height: auto;
  margin-right: 20%;
  margin-left: 5%; }
