body {
  font-family: 'Montserrat', sans-serif; }

.header {
  background-color: #1C1C1C;
  height: 72px;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: fixed;
  padding-left: 10%; }

.meniuLogo image {
  height: 52px;
  width: 102px;
  margin-left: 20%;
  margin-top: 10px; }

.meniu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
  font-size: 14px;
  padding: 26px;
  position: absolute;
  right: 10%; }

.meniu div a {
  color: #F5F5F5;
  text-decoration: none;
  list-style-type: none;
  text-align: right;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 44px;
  font-size: 18px; }

#features-img {
  background-image: url("images/photo1.jpg");
  background-size: cover;
  width: 100%;
  height: 600px; }

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 600px; }

.features1 {
  width: 40%;
  height: 80%;
  margin-left: 10%;
  color: #F5F5F5;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.featuresLogo {
  width: 40%;
  height: 110px;
  margin-left: 10%;
  margin-top: 110px; }

.featuresText1 {
  width: 40%;
  height: auto;
  margin-left: 10%;
  font-size: 16px;
  color: #F5F5F5; }

.featuresText2 {
  width: 10%;
  margin-left: 10%;
  color: #F5F5F5; }

.featuresText3 {
  width: 65%;
  height: auto;
  margin-left: 10%;
  color: #F5F5F5;
  font-size: 12px; }

.featuresDownload {
  width: 145px;
  height: 42px;
  font-size: 14px;
  margin-left: 10%;
  border: 2px solid #F5F5F5;
  color: #F5F5F5;
  text-decoration: none;
  list-style-type: none; }

.featuresDownload a {
  margin: auto; }

.form1 {
  text-align: center;
  width: 40%;
  height: auto;
  margin-right: 20%;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #F5F5F5;
  border-radius: 9%; }

.formHeader {
  padding: 10px; }

input {
  width: 70%;
  padding: 8px 8px;
  margin: 8px 0;
  display: inline-block;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px; }

.media1 {
  width: 100%;
  height: 100px;
  background-color: #F5F5F5;
  color: #1C1C1C;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.media1 h2 {
  color: #1C1C1C;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 16px; }

.media1 p {
  color: #1C1C1C;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 12px; }

.mediaIcons {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 30px;
  float: right; }

#about-img {
  background-image: url("images/photo2.jpg");
  background-size: cover;
  width: 100%;
  height: 600px; }

.mainAbout {
  width: 100%;
  height: 600px; }

.swiper-container {
  width: auto;
  height: 600px; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.about2 {
  width: 100%;
  height: 600px;
  background-color: #1C1C1C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #F5F5F5; }

.about2Logo {
  width: 400px;
  height: 170px; }

.about2Logo image {
  width: auto;
  height: auto; }

.about2Text {
  width: 40%;
  height: auto;
  margin-right: 10%; }

.about2Text1 h3 {
  font-size: 30px; }

.about2Text1 p {
  font-size: 14px; }

.about2Icon {
  display: inline; }

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #E27866;
  position: absolute; }
